.hero-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media screen and (max-width: 768px) {
  .hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

body {
  font-family: "Oswald", sans-serif;
}

section:not(#call) {
  padding-top: 94px;
  padding-bottom: 94px;
}

h1 {
  font-size: 48px;
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
}

body {
  background-color: rgb(147, 139, 120);
}

.background-one {
  background: url(../images/six.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.background-two {
  background: url(../images/seven.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.about-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media screen and (max-width: 768px) {
  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

.about__text {
  max-width: 450px;
}

.collection-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media screen and (max-width: 768px) {
  .collection-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

.collection__switch {
  display: none;
}

.collection__body {
  max-height: 0;
  overflow: hidden;
  transition: 0.4s;
}

.collection__switch:checked ~ .collection__body {
  max-height: 100%;
}

.collection__text2 {
  max-width: 500px;
  text-transform: uppercase;
}

.donat-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.donat__button {
  width: 200px;
  height: 60px;
  background-color: rgb(191, 175, 146);
  border: none;
}

.contacts-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media screen and (max-width: 768px) {
  .contacts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .contacts__map {
    max-width: 80%;
  }
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(117, 102, 62);
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer__text {
  font-size: 16px;
}

.call__button {
  border-radius: 50%;
  background-color: lightgreen;
  width: 100px;
  height: 100px;
  border: none;
  cursor: pointer;
  position: fixed;
  right: 45px;
  bottom: 45px;
}

.call__link {
  font-size: 24px;
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details__part-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media screen and (max-width: 768px) {
  .details__part-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  }
}

.details__image {
  width: 80%;
  height: 600px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  header {
    justify-content: center;
  }
}

.header__list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  font-size: 24px;
}
@media screen and (max-width: 768px) {
  .header__list {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    flex-wrap: wrap;
  }
}

header {
  background-color: rgb(191, 175, 146);
}

.header-container {
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .header__image {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.interview-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media screen and (max-width: 768px) {
  .interview-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

.interview__switch {
  display: none;
}

.interview__body {
  max-height: 0;
  overflow: hidden;
  transition: 0.4s;
}

.interview__switch:checked ~ .interview__body {
  max-height: 100%;
}

.interview__text2 {
  max-width: 500px;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .interview__video {
    max-width: 450px;
    max-height: 250px;
  }
}

.ruskii-idi-nahui-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media screen and (max-width: 768px) {
  .ruskii-idi-nahui-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

.ruskii-idi-nahui_video {
  max-width: 450px;
  max-height: 250px;
}

.traning-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media screen and (max-width: 768px) {
  .traning-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

.traning__image {
  height: 600px;
}

.trip-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media screen and (max-width: 768px) {
  .trip-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

.trip__text {
  max-width: 450px;
}

.trip__image {
  max-width: 450px;
}/*# sourceMappingURL=main.css.map */