.call__button {
    border-radius: 50%;
    background-color: lightgreen;
    width: 100px;
    height: 100px;
    border: none;
    cursor: pointer;
    position: fixed;
    right: 45px;
    bottom: 45px;
}

.call__link {
    font-size: 24px;
}