.collection-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}

.collection__switch {
    display: none;
  }
  
  .collection__body {
    max-height: 0;
    overflow: hidden;
    transition: 0.4s;
  }
  
  .collection__switch:checked~.collection__body {
    max-height: 100%;
  }

  .collection__text2 {
    max-width: 500px;
    text-transform: uppercase;
  }
  