.donat-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.donat__button {
width: 200px;
height: 60px;
background-color: rgb(191,175,146);
border: none;
}