.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(117, 102, 62);
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer__text{
    font-size: 16px;
}
// rgb(129, 122, 96)