body {
    font-family: 'Oswald', sans-serif;
}

section:not(#call) {
    padding-top: 94px;
    padding-bottom: 94px;
}

h1 {
    font-size: 48px;
    text-transform: uppercase;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
}

body {
background-color: rgb(147, 139, 120);
}
// rgb(67, 66, 55)

// Фонове зображення
.background-one {
    background: url(../images/six.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.background-two {
    background: url(../images/seven.png);
    background-repeat: no-repeat;
    background-size: cover;
}