header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    align-items: center;
    @media screen and (max-width: 768px) {
        justify-content: center;
    }
}

.header__list {
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 24px;
    @media screen and (max-width: 768px) {
display: flex;
flex-direction: row;
font-size: 16px;
flex-wrap: wrap;
    }
}

header {
    background-color: rgb(191,175,146);
}

.header-container {
    margin-left: 20px;
    margin-right: 20px;
}