.interview-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
  }
}

.interview__switch {
    display: none;
  }
  
  .interview__body {
    max-height: 0;
    overflow: hidden;
    transition: 0.4s;
  }
  
  .interview__switch:checked~.interview__body {
    max-height: 100%;
  }

  .interview__text2 {
    max-width: 500px;
    text-transform: uppercase;
  }
  
  .interview__video {
    @media screen and (max-width: 768px) {
max-width: 100%;
max-height: 250px;
  }
  }